<%- include('partials/head')%>
  <body>
        <%- include('partials/navbar')%>
    <h1>The Home Page <%= 2+1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quos tempore!
      Asperiores eligendi quia quaerat sint et vel maxime quas! Alias nulla
      asperiores adipisci facere at voluptate aperiam quibusdam harum!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit maxime
      est modi sequi temporibus, vel, sapiente perspiciatis recusandae
      repellendus officiis quod ut ipsum dolorum dolor voluptates nihil deserunt
      autem quae!
    </p>
  </body>
</html>
